/* Main CSS */

/* COLOR SCHEME
DARK RED: #7E464B;
YELLOW: #D8D6A3;
PINK: #ad9a88;
DARK BLUE: #548198;
LIGHT BLUE: #85B3CB;

/*
font-family: 'Karla', sans-serif;
font-family: 'Sanchez', serif;
*/
html, body {
	height: 100%;
}
body {
	font-family: 'Raleway', sans-serif;
	line-height: 1;
	color: #ececec;
}
a {
	color: #a7dcf7;
}
a:hover {
	color: #548198;
}
.site {
	margin-top: 50px;
}
.pink-link {
	color: #ad9a88;
}
.pink-link:hover {
	color: #7E464B;
}
.portfolio-subheader {
	text-transform: uppercase;
	display: inline-block;
	color: white;
	background: #ad9a88;
	padding: 0 3px;
}
.portfolio-img {
	margin-top: 12px;
	width: 100%;
}
.btn-resume {
	color: white;
	background: #85B3CB;
}
.btn-resume:hover {
	background: #548198;
}
.logo-italic {
	margin: auto;
	margin-bottom: 2em;
	max-height: 10em;
}
.nav-item {
	font-family: 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar {
	background: #ad9a88;
	border-radius: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
p {
	/*font-family: 'Sanchez', helvetica, verdana, serif;*/
}
li {
	/*list-style: none;*/
	display: inline-block;
}
.portfolio-list li {
	display: list-item;
	list-style: circle;
}
ul {
	padding: 0;
}
.description {
	padding: 2em;
}
.achievements {
	
}
/* Pages */
.wrapper {
	display: table;
	margin: auto;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #505e65;
	background-image: url(/img/backgrounds/desk-dark.jpg);
	background-size: cover;
}
.resume-wrapper, .portfolio-wrapper {
	display: table;
	margin: auto;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #505e65;
}
.portfolio-wrapper {
	padding-bottom: 25px;
}
.bio {
	margin-top: 20px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	padding: 0 !important;
	min-height: 0px !important;
}
.subtext {
	font-size: 1.2em;
	font-weight: bold;
	color: #ad9a88;
}
.resume {
	margin-bottom: 1em;
}
.headline {
	margin: 2em 0;
}
.logo, .icon {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: 0.8;
	transition: .5s;
	margin: auto;
	border: 0;
}

.logo:hover {
	opacity: 1;
	transition: .1s;
	-moz-filter:drop-shadow(0px 4px 2px #00ffff);
	-webkit-filter: drop-shadow(0px 4px 2px #00ffff);
	filter: drop-shadow(0px 4px 2px #00ffff);
	-webkit-transform: translate(0px, -3px);
	-moz-transform: translate(0px, -3px);
	-o-transform: translate(0px, -3px);
	-ms-transform: translate(0px, -3px);
  transform: translate(0px, -2px);
}
.icon:hover {
	-webkit-transform: translate(0px, -3px);
	-moz-transform: translate(0px, -3px);
	-o-transform: translate(0px, -3px);
	-ms-transform: translate(0px, -3px);
  transform: translate(0px, -2px);
}

.contact li {
	padding: 0.5em;
	margin: 1em;
	cursor: pointer;
}

.skills li {
  padding: 0.5em;
	margin: 1em;
  border-radius: 5px;
	background-color: #F3F6F6;
  background-color: rgba(6,63,76,0.05);
}

/* Timeline */
.event {
	position: relative; padding: 0 1em 2em 2.4em;
	}
.event:before {
    content : ""; position: absolute; top: 10px; bottom: -10px; left: 12px; width: 4px; background: rgba(255, 255, 255, 0.5);
    }
.event:after {
    content : ""; position: absolute; top: 6px; left: 7px; width: 14px; height: 14px; border-radius: 50%; background: #fff;
    }
.event:nth-of-type(2):after {
    background-color: #85B3CB;
}
.event h2 {
	margin-left: .6em; margin-bottom: .4em; font-size: 1.3em; font-weight: 400; letter-spacing: 0;
}
.event h2 + p i,
.event h2 + p img {
    display: block; text-align: center; font-size: 22px; font-weight: bold; position: absolute; top: -14px; left: -10px; width: 52px; line-height: 52px; margin: 0;  z-index: 120; color: #fff; background: #85B3CB; border-radius: 50%;
    }
.event h2 + p i:before {
    margin:0;
    }
.event h2 + p img {
padding: 10px; border-radius: 4px;
    }
.event h3 {
    display: inline-block; position: relative; padding: 3px 8px; font-size: 11px; line-height: 1.3; font-weight: 400; letter-spacing: 0; margin: 0 0 1.5em 0; text-transform: uppercase; color: #fff; background: #ad9a88;
}
.event h3:before {
	content: ""; position: absolute; display: block; bottom: 0; border: 10px solid #85B3CB; z-index: -1; left: -1.2em; border-right-width: 10px; border-left-color: transparent 	!important;
	}
.event:last-of-type {
padding-bottom: 0; margin-bottom: 3em;
}
.event:last-of-type:before {
    bottom: 4px;
}
.event h4 {
font-size: 14px; font-weight: 700; text-transform: uppercase; margin: 0 0 .2em 0; padding: 0;
}
.event h5 {
    margin: 0; padding: 0 0 .3em 0; font-size: 11px; font-weight: 400; letter-spacing: 1px; text-transform: uppercase; color: #85B3CB;
}
.event p {
margin: .6em 0 .2em 0; font-size: 15px;
}
.event p:last-child {
margin-bottom: 0;
}
/* !timeline */

.ribbon-wrapper {
	margin-top: 0;
	display: inline-block;
}
.medium span {
	font-size: 1em;
	background: #8cbdd8;
}
